*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #29bef0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.button:focus {
  background-color: #148bb3;
  outline-color: #328fad;
}

.header-wrapper {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-call {
  text-align: right;
}

.header_phone {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #5e5e5e;
}

.header_link {
  font-size: 14px;
  font-weight: 500;
  color: #5892a6;
}

.offer {
  min-height: 580px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: right;
}

.offer-title-wrapper {
  margin-left: auto;
  margin-bottom: 15px;
  max-width: 600px;
  text-align: right;
}

.offer_title {
  margin: 0;
  font-size: 41px;
  font-weight: 700;
  color: #535353;
}

.offer_subtitle {
  margin: 0;
  margin-bottom: 65px;
  font-size: 27px;
  font-weight: 500;
  color: #5892a6;
}

.offer-form {
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 36px;
  width: 300px;
  height: 240px;
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
}

.offer-form_title {
  margin: 0;
  color: #5892a6;
  font-size: 20px;
  font-weight: 700;
}

.offer-form_subtitle {
  font-size: 12px;
  font-weight: 300;
}

.offer-form_phone {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 220px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
}

.offer-form_phone:focus {
  outline-color: #b9b8b8;
}

.offer-form_phone::-webkit-input-placeholder {
  text-align: center;
}

.offer-form_phone:-moz-placeholder {
  text-align: center;
}

.offer-form_phone:focus::-webkit-input-placeholder {
  color: transparent;
}

.offer-form_phone:focus:-moz-placeholder {
  color: transparent;
}

.offer_button {
  width: 220px;
  height: 45px;
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 23px;
  background-color: #68b0c9;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.advantages {
  padding-top: 80px;
  padding-bottom: 75px;
}

.advantages_title {
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
  color: #535353;
  font-size: 36px;
  font-weight: 500;
}

.advantages-list {
  max-width: 780px;
  margin: 0 auto;
}

.advantages-item {
  position: relative;
  margin-bottom: 55px;
  padding-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.advantages-item::before {
  position: absolute;
  top: 0;
  left: 38%;
  content: url("../img/advantages/right_arrow.png");
}

.advantages-item:last-child {
  margin-bottom: 0;
}

.advantages-item-wrapper {
  max-width: 390px;
  margin-top: 25px;
}

.advantages-item_title {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: #68b0c9;
}

.advantages-item_text {
  font-size: 18px;
  font-weight: 300;
  color: #535353;
}

.advantages .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.advantages .reverse:before {
  position: absolute;
  top: 0;
  left: 38%;
  content: url("../img/advantages/left_arrow.png");
}

.discount {
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
  background: url("../img/discount/discount_bg.jpg") center center/cover no-repeat;
}

.discount-title {
  max-width: 352px;
  margin-left: auto;
  margin-bottom: 40px;
  text-align: right;
  text-transform: uppercase;
}

.discount_title {
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  color: #535353;
}

.discount_subtitle {
  margin: 0;
  font-size: 26px;
  font-weight: 900;
  color: #535353;
}

.discount_gift {
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  font-weight: 900;
  color: #68b0c9;
}

.discount_gift::before {
  position: absolute;
  top: 1px;
  left: 80px;
  content: url("../img/discount/gift.svg");
  width: 22px;
  height: 20px;
}

.discount-promo {
  position: relative;
  width: 275px;
  height: 200px;
  margin-left: auto;
  margin-right: 40px;
  padding: 30px;
  border-radius: 23px;
  border: 5px solid #ffffff;
}

.discount-promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discount-promo__red {
  font-size: 14px;
  font-weight: 700;
  color: #d35656;
}

.discount-promo_btn {
  display: block;
  margin-top: 35px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 23px;
  background-color: #68b0c9;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.discount-promo-price {
  position: absolute;
  top: -50px;
  left: -282px;
  width: 150px;
  height: 150px;
  padding-top: 45px;
  padding-bottom: 35px;
  border-radius: 100%;
  background-color: #fff;
}

.discount-promo-price::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 15px;
  width: 120px;
  height: 2px;
  background-color: #e8e8e8;
}

.discount-promo-price::after {
  position: absolute;
  content: url(../img/discount/arrow.svg);
  bottom: -75px;
  right: -105px;
}

.discount-promo-price-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount-promo-price_old {
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  color: #1e1e1e;
}

.discount-promo-price_new {
  display: block;
  margin-left: 8px;
  font-size: 30px;
  font-weight: 700;
  color: #d04545;
}

.info {
  padding-top: 70px;
  padding-bottom: 80px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-list-item {
  padding-top: 20px;
  text-align: center;
  background: url("../img/info_icon.svg") center top/auto no-repeat;
}

.info-list-item_number {
  font-size: 48px;
  font-weight: 700;
  color: #68b0c9;
}

.info-list-item_descr {
  font-size: 18px;
  font-weight: 500;
  color: #535353;
}

.certificate {
  padding-top: 80px;
  padding-bottom: 90px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fbfd), to(#ecf3f8));
  background-image: linear-gradient(to bottom, #f9fbfd 0%, #ecf3f8 100%);
}

.certificate_title {
  margin-bottom: 85px;
  font-size: 36px;
  font-weight: 700;
  color: #535353;
  text-align: center;
}

.certificate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificate-descr {
  position: relative;
  max-width: 380px;
  font-size: 18px;
  font-weight: 500;
  color: #323232;
}

.certificate-descr__blue {
  margin-top: 0;
  padding-left: 55px;
  font-size: 22px;
  font-weight: 700;
  color: #68b0c9;
}

.certificate-descr__blue::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: url("../img/certificate_icon.svg");
}

.delivery {
  padding-top: 60px;
  padding-bottom: 70px;
  background: url("../img/delivery_bg.jpg") center center/cover no-repeat;
}

.delivery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 260px;
  max-height: 220px;
}

.delivery-form::before {
  position: absolute;
  top: 58px;
  right: -85px;
  content: url(../img/delivery_arrow.svg);
}

.delivery-form_title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #535353;
  text-align: center;
}

.delivery-form_title__blue {
  padding-left: 5px;
  padding-right: 5px;
  color: #68b0c9;
  background-color: #fff;
}

.delivery-form_phone {
  width: 260px;
  height: 46px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #d5e4ef;
  background-color: #ffffff;
  outline-color: #b9b8b8;
}

.delivery-form_phone::-webkit-input-placeholder {
  text-align: center;
}

.delivery-form_phone:-moz-placeholder {
  text-align: center;
}

.delivery-form_phone:focus::-webkit-input-placeholder {
  color: transparent;
}

.delivery-form_phone:focus:-moz-placeholder {
  color: transparent;
}

.delivery-form_button {
  width: 260px;
  height: 45px;
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 23px;
  background-color: #68b0c9;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.delivery-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 39px;
  padding-bottom: 28px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  text-align: center;
  background-color: #fff;
}

.delivery-price::before {
  position: absolute;
  top: 95px;
  left: 32px;
  content: '';
  width: 96px;
  height: 2px;
  background-color: #e8e8e8;
}

.delivery-price_discount {
  font-size: 17px;
  font-weight: 700;
  color: #68b0c9;
}

.delivery-price_old {
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
  color: #1e1e1e;
}

.delivery-price_new {
  font-size: 24px;
  font-weight: 700;
  color: #d04545;
}

.address {
  padding-top: 50px;
  padding-bottom: 50px;
}

.address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.address-text {
  position: relative;
}

.address-text::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  content: url("../img/mark.png");
}

.address_text {
  padding-top: 35px;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  color-content: url("../img/mark.png");
}

.address_text__blue {
  font-size: 20px;
  color: #68b0c9;
}

.address_button {
  width: 260px;
  height: 45px;
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 23px;
  border: none;
  background-color: #68b0c9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  background-color: #68b0c9;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */